---
# Only the main Sass file needs front matter (the dashes are enough)
---

h1 {
    font-size: 24px; // Adjust the size as needed
}

.pagetitle {
    font-size: 24px; // Adjust the size as needed
}

.pagetitle.introtitle {
        font-size: 24px; // Adjust the size as needed
}

.intro-title {
  @include fluid-type($min-vw, $max-vw, 10px, 10px);
  margin-bottom: 1rem;
  color: tint($text-color, 25%);
  line-height: 1;
}

@charset "utf-8";

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";
